.product{
    height:310px;
    width:200px;
    border: 1px solid #ccc;
}
.poduct .img{
    width:100%;
    height:150px;
}
.product .img img{
    width: 100%;
    height: 100%;
     object-fit: cover;
}
.product-details{
    padding: 5px;
}
.product-details h3{
    margin-bottom: 10px;
  }
  .product-details button{
      cursor:pointer;
      padding: 10px 15px;
      color:white;
      background-color: teal;
      border: none;
      border-radius: 10px;
      margin-top: 10px;
  }
  .product-details button:hover{
      background-color: rgb(3, 82, 82);
  }
  .product-details p{
    font-size: 16px;
    font-weight: 500;
    color:#888;
  }
  .rmvbtn{
    background-color: rgb(155, 8, 8) !important;
  }